.mynav1 {
    display: inline-block;
}
.myul1 {
    display: inline-block;
}
li {
    display: inline-block;
}
.mydiv1 {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 40px;
    vertical-align: middle;
}
.mydiv2 {
    display: inline-block;
    color: #3d58a6;
}
.General1 {
    font-size: 22px;
    margin-top: 39px;
    margin-right: 26px;
    font-weight: bold;
}
.News1 {
    font-size: 22px;
    margin-top: 39px;
    margin-right: 42px;
    font-weight: bold;
}
.Contact1 {
    font-size: 22px;
    font-weight: bold;
}
.container1 {
    display: inline-block;
    margin-left: 30px;
}
.date1 {
    font-size: 37px;
    padding: 12px 3px 16px 10px;
    color: #ffffff;
}
.mydate {
    width: 56px;
    height: 56px;
    background-color: #3d58a6;
}
.month1 {
    width: 57px;
    height: 17px;
    color: #3d58a6;
    font-size: 22px;
    margin-top: 10px;
}
.myhead1 {
    margin-top: 30px;
}
.image1 {
    float: left;
    margin-top: 16px;
    margin-right: 39px;
    width: 270px;
    height: 210px;
    
}
.p1 {
    width: 930px;
    height: 360px;
    display: inline-block;
    margin-top: 20px;
}
.fb {
    display: inline-block;
    margin-left: 34px;
    margin-right: 35px;
}
.line {
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #3d58a6;
    margin-right: 30px;
}
a {
    color:#3d58a6;
}
.General {
    color: #ee4036;
}
.News2 {
    color: #ee4036;
}
.Contact2 {
    color: #ee4036;
}
.banner {
    width: 1170px ;
    height: 460px;
    margin-left: 98px;
    margin-bottom: 125px;
}
.box1, .box2 {
    display: inline-block;
    vertical-align: middle;
    width: 570px;
    height: 225px;
    background-color: lightgray;
    margin-left: 98px;
    margin-bottom: 70px;
}
.myhead2 {
    font-size: 24px;
    font-family: roboto-regular;
    margin-bottom: 33px;
    margin-left: 98px;
}
.myhead3, .myhead4 {
    margin: 18px 275px 18px 20px ;
    color:#3d58a6 ;
    font-size: 22px;
    font-family: roboto-regular;
}
.finger, .mobile {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-left: 39px;
    vertical-align: middle;
}
.p2, .p3 {
    display: inline-block;
    width: 356px;
    height: 143px;
    margin-top: 22px;
    margin-right: 14px;
    margin-bottom: 24px;
    vertical-align: middle;
    font-size: 20px;
    font-family: roboto-regular;
}
.fb1 {
    display: inline-block;
    margin-left: 110px;
    margin-right: 35px;
}
.line1 {
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #3d58a6;
    margin-right: 30px;
}
.container2 {
    width: 1518px ;
    height: 570px ;
    background-color: lightgray;
    display: inline-block;
}
.information {
    width: 350px;
    height: 150px;
    padding-top: 62px;
    padding-left: 97px;
    font-size: 16px;
    display: inline-block;
}
.info1 {
    display: inline-block;
    color: #3d58a6;
    font-weight: bold;
    display: inline-block;
}
.mymap {
    width: 849px;
    height: 465px;
    margin-right: 96px;
    margin-left: 422px;
    display: inline-block;
}